/* Base */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  overflow-x: hidden;
}

body {
  line-height: 1.7;
  color: black;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Lato", sans-serif !important;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}
a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

a:hover {
  text-decoration: none;
}

/*engineers*/

.header-top > .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-top .quick-contact-icons .icon {
  margin-right: 10px;
}

.header-top .quick-contact-icons .icon span {
  font-size: 40px;
  line-height: 0;
}

.header-top .quick-contact-icons .text .h4 {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 0;
}

.header-top .quick-contact-icons .text .caption-text {
  font-size: 1rem;
}

.block-2 {
  background: #09162a;
  padding: 7rem 0;
}

.block-2 .img-overlap {
  margin-top: -150px;
}

.block-3 {
  background: #09162a;
  padding: 7rem 0;
  margin-bottom: 14rem;
}

.section-title {
  color: #000;
  margin-bottom: 18px;
}

.section-title h2 {
  font-size: 17px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.section-title h2:before {
  position: absolute;
  z-index: 1;
  bottom: -9px;
  left: 0;
  width: 35%;
  height: 2px;
  margin: auto;
  background: #e96656;
  content: "";
}

.section-subtitle {
  font-weight: 300;
  color: #8bc34a;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.line-height-0 {
  line-height: 0;
}

.projects-carousel-wrap {
  position: relative;
  margin-bottom: -200px;
}

.form-control-app:hover,
.form-control-app:focus,
.form-control-app:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.2rem;
  font-family: "Cabin", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.quote-form-wrap {
  background: #09162a;
  padding: 5rem;
}

.blog-entry .img-link {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.blog-entry .img-link img {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.blog-entry .img-link:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.blog-entry .blog-entry-contents h3 {
  line-height: 1;
}

.blog-entry .blog-entry-contents h3 a {
  color: #000;
  font-weight: 400;
  font-size: 1.5rem;
}

.blog-entry .blog-entry-contents .meta {
  font-size: 1rem;
}

.blog-entry .blog-entry-contents .meta,
.blog-entry .blog-entry-contents .meta a {
  color: #b0b0b0;
}

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff;
}

.sidebar-box *:last-child {
  margin-bottom: 0;
}

.sidebar-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.categories li,
.sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
  list-style: none;
}

.categories li:last-child,
.sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.categories li a,
.sidelink li a {
  display: block;
}

.categories li a span,
.sidelink li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
}

.categories li.active a,
.sidelink li.active a {
  color: #000;
  font-style: italic;
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;
}

.comment-list .children {
  padding: 50px 0 0 40px;
  margin: 0;
  float: left;
  width: 100%;
}

.comment-list li .vcard {
  width: 80px;
  float: left;
}

.comment-list li .vcard img {
  width: 50px;
  border-radius: 50%;
}

.comment-list li .comment-body {
  float: right;
  width: calc(100% - 80px);
}

.comment-list li .comment-body h3 {
  font-size: 18px;
  color: #000;
}

.comment-list li .comment-body .meta {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #ccc;
}

.comment-list li .comment-body .reply {
  padding: 5px 10px;
  background: #e6e6e6;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
}

.comment-list li .comment-body .reply:hover {
  color: #000;
  background: #e3e3e3;
}

/* For Meranda*/
.date-read {
  color: #b4b4b4;
}

.post-entry-1,
.post-entry-2 {
  font-size: 0.9rem;
  margin-bottom: 30px;
}

.post-entry-1 img,
.post-entry-2 img {
  margin-bottom: 30px;
}

.cate-img {
  margin-bottom: 30px;
  height: 125px;
  width: 239px;
  object-fit: cover;
}

.post-entry-1 h2,
.post-entry-2 h2 {
  font-size: 20px;
}

.post-entry-1 h2 a,
.post-entry-2 h2 a {
  color: #000;
}

.post-entry-2 {
  font-size: 0.9rem;
}

.post-entry-2 .thumbnail {
  background-size: cover;
  background-position: center;
  width: 30%;
}

.post-entry-2 .contents {
  width: 70%;
  padding: 10px 20px;
}

.post-entry-2 .contents h2 {
  font-size: 15px;
}

.trend-entry {
  margin-bottom: 30px;
}

.trend-entry .number {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  font-size: 30px;
  line-height: 1;
  color: #ccc;
}

.trend-entry .trend-contents h2 {
  font-size: 18px;
}

.trend-entry .trend-contents h2 a {
  color: #000;
}

.caption {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.caption.small {
  font-size: 0.6rem;
}

.half-post-entry .caption {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.half-post-entry .img-bg,
.half-post-entry .contents {
  width: 50%;
}

@media (max-width: 991.98px) {
  .half-post-entry .img-bg,
  .half-post-entry .contents {
    width: 100%;
    height: 300px;
  }
}

.half-post-entry .img-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.half-post-entry .contents {
  padding: 50px;
  font-size: 0.9rem;
  height: auto;
}

@media (max-width: 991.98px) {
  .half-post-entry .contents {
    padding: 30px;
  }
}

.half-post-entry .contents h2 {
  font-size: 26px;
}

.half-post-entry .contents h2 a {
  color: #000;
}

.more {
  color: #000;
  text-transform: uppercase;
  font-size: 0.83rem;
}

.custom-pagination {
  padding: 0;
  margin: 0;
  font-size: 0.89rem;
  color: #000;
}

.custom-pagination li {
  display: inline-block;
}

.custom-pagination li a {
  padding: 10px 10px;
  display: inline-block;
  color: #b3b3b3;
}

.custom-pagination li a:hover {
  color: #000;
}

.custom-pagination li.active a {
  color: #000;
}

.form-control-app {
  margin-right: 10px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  border: none;
  background: #fff;
}

.form-control-app:active,
.form-control-app:focus {
  border-bottom: 1px solid #ccc;
}

.btnMain {
  border-radius: 30px;
  background: #000;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #000;
  color: #fff;
}

.subscribe form .form-control-app {
  margin-right: 10px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  border: none;
  border-bottom: 1px solid transparent;
  border-bottom: 1px solid #ccc;
}

.search-form .form-control-app {
  margin-right: 10px;
  height: 50px;
  border-radius: 0;
  border: 1px solid #000;
  background: #fff;
}

.search-form .form-control-app:active,
.search-form .form-control-app:focus {
  border-bottom: 1px solid #ccc;
}

.search-form .btn {
  border-radius: 30px;
  background: #000;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #000;
}

.search-form .btn:hover {
  background: #8bc34a;
  border-color: #8bc34a;
}

.search-form h2 {
  font-size: 1.2rem;
  color: #000;
}

.search-form p {
  font-size: 0.9rem;
}

.footer {
  font-size: 0.85rem;
  text-align: center;
  padding: 2rem 0;
  color: #000;
}

.top-social a {
  color: #000;
}

.top-social a:hover {
  color: #777;
}

.single-content h1 {
  font-size: 2rem;
  color: #000;
}

.single-content {
  font-size: 0.9rem;
}

.active {
  color: inherit;
}
.navbar-nav li {
  margin-right: 10px;
}
.nav-link {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}
.bg-gradient {
  background: #70e1f5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.text-footer-color {
  color: rgb(55, 55, 55);
}
.blog-img {
  display: flex;
}

.text-size-15 {
  font-size: 15px;
}

.modal-app {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.img-responsive {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#notfound {
  position: relative;
  height: 50vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding: 15px;
}

.notfound .notfound-404 {
  position: relative;
  height: 220px;
}

.notfound .notfound-404 h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 186px;
  font-weight: 200;
  margin: 0px;
  background: linear-gradient(130deg, #ffa34f, #ff6f68);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
}

.notfound h2 {
  font-size: 33px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 25px;
  letter-spacing: 3px;
}

.notfound p {
  font-size: 16px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 25px;
}

.notfound a {
  color: #ff6f68;
  font-weight: 200;
  text-decoration: none;
  border-bottom: 1px dashed #ff6f68;
  border-radius: 2px;
}

.notfound-social > a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  font-size: 14px;
  color: #ff6f68;
  border: 1px solid #efefef;
  border-radius: 50%;
  margin: 3px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.notfound-social > a:hover {
  color: #fff;
  background-color: #ff6f68;
  border-color: #ff6f68;
}

.blog-details-section {
  background-color: rgb(252, 252, 252);
}

.blog-details-section .container {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#notificationBtn {
  border: none;
  background: none;
  color: inherit;
}

.noti-menu {
  left: unset;
  width: 260px;
  padding: 0;
}

.num-noti {
  background: red;
  border: none;
  border-radius: 50%;
  font-size: 11px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5%;
  margin-left: 10px;
  margin-top: 10px;
  color: #fff;
}
.noti-item {
  word-wrap: break-word;
  white-space: initial;
  font-size: 12px;
  display: flex;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
}
.noti-item:not(:first-child) {
  border-top: 1px solid black;
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: rgb(252, 252, 252) transparent transparent transparent;
}
.border {
  border: 8px solid #666;
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}

.f-c h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.f-c ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.f-c ul li a {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 10px 0px !important;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.f-c ul li {
  padding: 5px 0px 5px 0px !important;
}

.f-c ul li a:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}

.clearfix {
  clear: both;
}

.blog-details-section .content img {
  object-fit: cover;
  max-width: 100%;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
.cate-dropdown {
  float: left;
  overflow: hidden;
}
.cate-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-weight: 600;
}

.cate-content h5 {
  margin-top: 15px;
  margin-left: 20px;
  text-transform: uppercase;
}
.cate-content ul li {
  margin-bottom: 10px;
}
.cate-content ul li a {
  color: inherit;
  cursor: pointer;
}

.cateBtn:hover {
  cursor: pointer;
}

.cate-dropdown:hover .cate-content {
  display: block;
}

.btnSend {
  background-color: rgb(16, 152, 255);
}
.btnSend:hover {
  color: #fff;
}
.tl-chooser {
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  font-size: 12px;
}
.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 15px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.searchBtn {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
input[type="file"] {
  display: none;
}
b,
strong {
  font-weight: bold;
}

.icon-search {
  color: #000;
}
.btnSearch {
  margin-left: -45px;
  background: none;
  border: none;
}
.m-dialog{
  max-width: fit-content;
}
.btn-dig{
  background: none;
  border: none;
}
.search-form .form-control-app,
.dropdown-menu {
  width: 360px;
}
.mainAdmin {
  margin-left: 220px; /* Same width as the sidebar + left position in px */
  padding: 0;
}
.img-upload {
  width: 70%;
}
.unlogin-container {
  margin: 0 auto;
  width: fit-content;
}
.text-12 {
  font-size: 12px;
}
.bg-unreaded {
  background-color: rgb(217, 230, 253);
}
.btnChangeLang {
  background: none;
  border: none;
  font-weight: 600;
  color: #666;
}
.btnChangeLang:hover {
  color: #e96656;
  transition: 5ms all;
}
.edit-user {
  background: none;
  border-bottom: 1px solid;
  border-width: 0 0 1px 0;
}
.edit-brief {
  border-bottom: 1px solid;
  border-width: 0 0 1px 0;
  padding: 1px;
  width: 20em;
  min-height: 3em;
  overflow: auto;
}

.img-page {
  border: 5px solid black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.minimal-cate, .minimal-noti {
  display: none;
}
@media screen and (max-width: 450px) {
  .container {
    width: 100%;
  }
  .contents h1{
    margin-top: 8px;
    font-size: 18px;
  }
  .minimal-noti{
    display: block;
  }
  #notificationBtn{
    display: none;
  }
  .blogs-handle-manager{
    display: inline;
  }
  .post-entry-2 .thumbnail {
    width: 60%;
  }
  .cate-dropdown {
    display: none;
  }
  .minimal-cate {
    display: flex;
  }
  .logo-container {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .search-form {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .mainAdmin {
    margin-left: 50px;
  }
}

.f-c {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

@media only screen and (max-width: 1200px) {
  .cate-content ul li a {
    font-size: 13px;
  }
  .notfound .notfound-404 {
    position: relative;
    height: 168px;
  }
  .num-noti {
    position: absolute;
    top: 78%;
  }
  #notificationBtn[aria-expanded="true"] .num-noti {
    position: absolute;
    top: 60%;
  }
  .user-fn {
    display: -webkit-inline-box;
  }
  .notfound .notfound-404 h1 {
    font-size: 142px;
  }

  .notfound h2 {
    font-size: 22px;
  }
  #avatarMenu[aria-expanded="true"] .num-noti {
    position: absolute;
    top: 10%;
  }
}
