body {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
.list-group-item{
    border: none;
}
  .sidenav {
    width: 220px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 8px 0;
    height: 100%;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    transition: 0.5s;
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index:1;
    display: none;
  }
  .openbtn{
    border: none;
    background: none;
    font-size: 20px;
    display: none;
    width: fit-content(20em);
  }
  
  .sidenav .active a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    display: block;
    margin: -4px;
    text-decoration: none;
    border: none;
  }
  .sidenav .active a:hover{
  	text-decoration: none;
  	color: #fff;
  	border: none;
  }
  
  .mainAdmin {
    margin-top: 10px;
    margin-left: 240px; /* Same width as the sidebar + left position in px */
    padding: 150px 10px;
  }
  
  @media screen and (max-width: 450px) {
    .sidenav {
      width: 0;
    }
    .closebtn{
      display: block;
    }
    .mainAdmin{
      margin-left: 0;
    }
    .openbtn{
      display: block;
    }
    
  } 
  /*iphone ngang (736 x 414)*/
  @media screen and (max-width: 736px) {
    .icon {margin-left: 25%;}
    .ql-container{
        width: 550px;
    }
  }
  
  .ql-container{
      margin: 0 30px;
      width: 400px;
  }
  .icon{

      border-radius: 50%;
      padding: 30px;
      color: #fff;
  }
  .fa-book{
      background-color: rgb(196, 68, 255);
  }
  .fa-user{
      background-color: rgb(240, 57, 57);
  }
  .ql-container:hover{
      text-decoration: none;
  }
  .fa-database{
    background-color: rgb(77, 195, 126);
  }
  .sign-up-btn{
      bottom: 5%;
      left:20%;
      position: absolute;
  }
  .text-sm{
      font-size: 12px !important;
  }
  .admin_dashboard .card-ui{
    
  }

  .widget-heading {
    opacity: .8;
    font-weight: bold;
}
.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
}
.widget-content .widget-content-right {
    margin-left: auto;
}
.bg-midnight-bloom {
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%) !important;
}
.bg-arielle-smile {
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%) !important;
}
.bg-grow-early {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%) !important;
}
.widget-content .widget-numbers {
    font-weight: bold;
    font-size: 1.8rem;
    display: block;
}
.text-white {
    color: #fff !important;
}
.d-inline-grid{
  display: inline-grid;
}
.flex-d-row{
  flex-direction: row;
}
.h-main{
  height: auto;
}
.border-widget{
  border: 10px solid black;
}